<!-- inject your plugins -->
<!-- DataTables -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/vendor/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/vendor/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/vendor/datatable-checkbox/dataTables.checkboxes.min.js"></script>
<!-- datatable打印、表格、PDF插件 -->
<script src="/vendor/datatables-button/dataTables.buttons.min.js"></script>
<script src="/vendor/datatables-button/buttons.flash.min.js"></script>
<script src="/vendor/datatables-button/jszip.min.js"></script>
<script src="/vendor/datatables-button/pdfmake.min.js"></script>
<script src="/vendor/datatables-button/vfs_fonts.js"></script>
<script src="/vendor/datatables-button/buttons.print.min.js"></script>
<script src="/vendor/datatables-button/buttons.html5.min.js"></script>
