<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- base style -->
<link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="/vendor/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/vendor/overlayscrollbars/OverlayScrollbars.min.css">
<!-- adminlte theme -->
<link rel="stylesheet" href="/vendor/adminlte/css/adminlte.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<!-- [if lt IE 9]>
	<script src="https://cdn.bootcdn.net/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
<![endif] -->
