/*
 * Author: JackWei <wsm_1105@163.com>
 * @LastEditors  : JackWei <wsm_1105@163.com>
 * Date: 2020-05-30 15:20:06
 * @LastEditTime : 2020-06-28 13:54:00
 * Description: Define custom style for system level.
 */

 html,body{
	font-size: 14px;
	font-family: PingFang SC, -apple-system, Arial, Microsoft YaHei, Microsoft JhengHei, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "./variable.scss";
@import "./adminlte.scss";
@import "./general.scss";

@function rem($px){
	@return $px /16 * 1rem;
}


div,
span,
li,
ul,
ol,
i,
a,
h1,
h2,
h3,
h4,
h5,
em,
button,
input {
	outline: none !important;
	// transition: background-color 100ms;
}


.rotateBarIcon {
	transition: 200ms;
	transform: rotateZ(90deg);
}

// 表单错误时的提醒
.input-error {
	transform: translateY(-1.6rem);
	padding: 5px 2px;
	margin-bottom: -15px;
	color: rgb(252, 23, 23);
	font-size: 0.7rem;
	user-select: none;
	letter-spacing: 0.5px;
	display: none;
	position: absolute;
}
// 改变登录注册input布局
.login-box .input-group,
.register-box .input-group {
	margin-bottom: 1.3rem !important;
}

// 导航栏上方的提示铃
.far.fa-bell{
	font-size: 16px;
}
.badge{
	// padding: 2px;
	border-radius: 50%;
	font-size: inherit;
	top: .15rem;
	background-color: rgb(214, 0, 0);
	color: #fff;
	padding: 1px;
}


// datatable
.table{
	border: 0;
}
.table thead th {
	background: #f5f5f5;
	font-size: rem(16);
	color: #333;
}
table tbody tr{
	td{
		font-size: rem(14);
		color: #333;
	}
}
table tbody tr:nth-child(even){
	background: #FCFCFC;
}
table.table-bordered.dataTable th, table.table-bordered.dataTable td{
	border: none;
}
table.table-bordered.dataTable{
	border-right-width: 1px;
}
div.dataTables_info {
	padding: 0 0.4rem !important;
	max-width: 200px;
	float: left;
	line-height: 38px;
}
.datatable-flex{
	display: flex;
	justify-content: flex-end;
}
.card.table {
	padding: 5px;
}
.table td,
.table th {
	vertical-align: middle;
	text-align: center;
}
// table操作列手势
.table-opera {
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
// datatable下方分页按钮
.page-item{
	&.active .page-link{
		color: $theme_bgColor;
		background-color: #fff;
	}
	.page-link{
		color: #666;
		background-color: #fff;
		border: none;
		&:focus{
			box-shadow: none;
		}
	}
}

// datatable头部下载用的dt-button
button.dt-button,
div.dt-button,
a.dt-button {
	color: #0056b3;
	text-decoration: none;
	background-color: #fff;
	background-image: none;
	transition: all 200ms;
	border: 1px solid rgb(214, 214, 214);
	padding: 0.3rem 0.75rem;
	border-radius: 0.25rem;
	&:hover {
		color: #0056b3;
		background-color: #f1f3f5 !important;
		border-color: #dee2e6 !important;
	}
}



// nprogress顶部进度条
#nprogress .bar {
	z-index: 9999999999;
}
#nprogress .spinner {
	z-index: 9999999999;
}

// 卡片样式
.card-body {
	overflow-x: auto;
}

// 日历
.datepicker {
	width: 140px;
	height: 36px;
	border: 1px solid #dcdfe6;
	color: #606266;
	padding: 6px 8px;
	text-align: center;
	cursor: pointer;
	font-size: 0.9rem;
	border-radius: 4px;
	background-color: #fff;
}

// 双日历选择
.datepicker[type="double"] {
	border: 1px solid #dcdfe6;
	width: auto;
	height: 100%;
	display: inline-block;
	padding: 6px 10px;
	background-color: #fff;
	color: #606266;
	font-size: 0.9rem;
	border-radius: 4px;

	input {
		max-width: 125px;
		border: none;
		text-align: center;
		cursor: pointer;
		overflow: hidden;
		color: #606266;

		&:focus .datepicker[type="double"],
		&:active .datepicker[type="double"] {
			border-color: #0056b3;
		}
	}
	span {
		padding: 0 2px;
		background-color: #fff;
		color: #606266;
		cursor: default;
	}
}


// bootstrap遮罩层
.modal-backdrop{
	z-index: -1;
}

.wrapper .content-header .container-fluid{
	animation: showbread 300ms;
}
.wrapper .content-header h1{
	line-height: 1.5;
}
@keyframes showbread {
	10%{
		position: absolute;
		left: 30%;
		opacity: 0;
	}
	80%{
		position: absolute;
		opacity: .7;
		left: -5%;
	}
	100%{
		left: 0;
		position: relative;
		opacity: 1;
	}
}


.sparklet-notice{
	width: 100vw;
	height: 100vh;
	background-color: rgba(44, 44, 44, 0.5);
	z-index: 99999999;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	animation: noticedrop 200ms;
	@keyframes noticedrop {
		from{
			opacity: .2;
		}
		to{
			opacity: 1;
		}
	}

	.sparklet-notice-box{
		min-width: 200px;
		max-width: 240px;
		padding: 10px 15px;
		box-sizing: border-box;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 0 10px rgb(131, 131, 131), 0 1px 5px rgb(216, 214, 214);
		display: flex;
		align-items: center;
		justify-content: center;
		animation: showBox 600ms;
		@keyframes showBox {
			from{
				transform: translateY(-100px);
				opacity: .1;
			}
			to{
				transform: translateY(0);
				opacity: 1;
			}
		}
		
		.sparklet-notice-icon{
			width: rem(25);
			min-height: rem(25);
			img{
				top: 0;
				width: rem(25);
				height: rem(25);
			}
		}

		.sparklet-notice-message{
			flex: 1;
			padding: 0 10px 0 20px;
			line-height: rem(25);
			box-sizing: border-box;
			font-size: rem(12);
			color: #333;
		}
	}
}
