<!DOCTYPE html>
<html>

<head>
	<title>后台管理系统 | 日历</title>

	<!-- 基本head -->
	<%= require('html-loader!@/layout/common/baseheader.html') %>
	<!-- 日历 -->
	<link rel="stylesheet" href="/vendor/jedate/jedate.css">

</head>

<body class="control-sidebar-slide sidebar-mini hold-transition layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">

		<!-- 顶部导航栏 -->
		<%= require('html-loader!@/layout/common/nav.html') %>
		<!-- 侧边栏 -->
		<%= require('html-loader!@/layout/common/sidebar.html') %>

		<!-- 内容区域容器 -->
		<div class="content-wrapper">
			<!-- 内容头部面包屑 -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Starter Page</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Starter Page</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<!-- 内容区域 -->
			<div class="content">
				<div class="container-fluid">
					<span class="datepicker" type="double">
						<input id="rili" class="date-start" type="datepicker" placeholder="开始日期">
						<span class="date-range">至</span>
						<input id="rili1" type="datepicker " class="date-end" placeholder="结束日期">
					</span>
					<button class="btn btn-primary" id="query">查询</button>

					<div>
						<br>
						<input type="text" class="datepicker" id="test" placeholder="选择日期">
					</div>
				</div>



			</div>
		</div>

		<!-- 页脚 -->
		<%= require('html-loader!@/layout/common/footer.html') %>

		<!-- 必须的script -->
		<%= require('html-loader!@/layout/common/baseScript.html') %>

		<!-- plugins -->
		<!-- 日历 -->
		<script src="/vendor/jedate/jedate.js"></script>


</body>

</html>
