<!DOCTYPE html>
<html>

<head>
	<title>后台管理系统 | 用户登录</title>
	<%= require('html-loader!@/layout/common/baseheader.html') %>
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="/"><b>后台</b>管理系统</a>
		</div>
		<!-- /.login-logo -->
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">用户登录</p>

				<form>
					<div class="input-group mb-3">
						<input id="account" type="email" class="form-control" placeholder="账号">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-error" id="account-error"></div>
					<div class="input-group mb-3">
						<input id="password" type="password" class="form-control" placeholder="密码">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="input-error" id="password-error"></div>
					<div class="input-group mb-3">
						<input id="authcode" type="text" class="form-control" placeholder="请输入验证码">
						<div class="input-group-append">
							<div class="input-group-text authcode-input">
								<img id="curAuthCode" class="authcode" src="/api/authcode" alt="验证码">
							</div>
						</div>
					</div>
					<div class="input-error" id="authcode-error"></div>
					<div class="row">
						<div class="col-12">
							<div class="icheck-primary">
								<input type="checkbox" id="remember">
								<label for="remember">
									记住我
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<button class="btn btn-primary btn-block" id="login-btn">登录</button>
						</div>
					</div>
				</form>

				<p class="mb-1">
					<a href="/admin/forgot-password">忘记密码？</a>
				</p>
				<p class="mb-0">
					<a href="/admin/register" class="text-center">注册一个新账号</a>
				</p>
			</div>
		</div>
	</div>

	<!-- 必须的script -->
	<%= require('html-loader!@/layout/common/baseScript.html') %>

</body>

</html>
